$primary: #CCCCCC;
$secondary: #333333;
$info: #555555;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1.4rem;
$font-weight-bolder: 800;
$link-color: $secondary;
$link-decoration: none;

//nav
$nav-link-color: $secondary;
$nav-link-font-size: 15px;
$nav-link-font-weight: 500;

//card
$card-bg: $secondary;
$card-border-radius: none;
$card-color: $primary;

// tooltip
$tooltip-font-size: 15px;
$tooltip-color: $primary;
$tooltip-bg: $secondary;
$tooltip-opacity: 1;



@import "../node_modules/bootstrap/scss/bootstrap";