
.home-text{
    position: relative;
}

.home-text::before{
    content: "";
    position: absolute;
    display: block;
    right: 1px;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 4px;
    height: 100%;
    background-color: #33333381;
}

.home-text::after{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 6px;
    height: 40%;
    background-color: #333333;
}

.profile{
    max-height: 380px;
    width: 100%;
    object-fit: contain;
}

.message{
    font-size: 20px;
    border: 2px solid #333333;
}

.view{
    font-size: 20px;
    border: 2px solid #333333;
}

.title > h6{
    position: relative;
    padding-bottom: 15px;
}

.title > h6::before{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    bottom: 1px;
    margin: auto;
    width: 140px;
    height: 1px;
    background-color: #33333381;
}

.title > h6::after{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 3px;
    background-color: #333333;
}

nav{
    margin-top: 3px;
}


.about-card .card p{
    font-size: 16px;
}

.swiper-slide button{
    all: unset;
}

.swiper-slide img{
    z-index: 99;
}

.swiper{
    position: relative;
}

.swiper-gradient1{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background: linear-gradient(to right, #CCCCCC, rgba(0, 0, 0, 0));
    z-index: 100;
}

.swiper-gradient2{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    background: linear-gradient(to left, #CCCCCC, rgba(0, 0, 0, 0));
    z-index: 100;
}




@media (min-width: 767px) {
    .home{
        height: 80vh;
    }
}

@media (max-width: 767px) {
    .home-text::before{
        display: none;
    }

    .home-text::after{
        display: none;
    }
}

@media (max-width: 445px) {
    .nav-link{
        font-size: 12px;
        padding: 5px 10px;
    }

    .message{
        font-size: 16px;
    }

    .view{
        font-size: 16px;
    }
}

@media (max-width: 313px) {
    .nav-link{
        font-size: 10px;
    }
}